# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
*.sqlite3

# Node
node_modules/
dist/
.cache/
*.local

# General
.DS_Store
Thumbs.db
*.log
*.pid
